<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
    <!--    配置UserServiceImpl-->
<!--    <bean id="userService" class="com.is.service.impl.UserServiceImpl" init-method="init" destroy-method="destroy">-->
<!--        <constructor-arg name="name" value="1"></constructor-arg>-->
<!--        <property name="userDao" ref="userDao"></property>-->

<!--    </bean>-->


<!--    &lt;!&ndash;    配置工厂对象&ndash;&gt;-->
<!--    <bean id="myBeanFactory2" class="com.is.factory.MyBeanFactory2"></bean>-->
<!--    <bean id="userDao2" factory-bean="myBeanFactory2" factory-method="userDao">-->
<!--        <constructor-arg name="name" value="1"></constructor-arg>-->
<!--    </bean>-->

<!--    <bean id="userDao1" class="com.is.factory.MyBeanFactory1" factory-method="userDao">-->
<!--        <constructor-arg name="name" value="1"></constructor-arg>-->
<!--    </bean>-->


<!--    &lt;!&ndash;    配置UserDaoImpl&ndash;&gt;-->
<!--    <bean id="userDao" class="com.is.dao.impl.UserDaoImpl"></bean>-->


    <bean id="userService" class="com.is.service.impl.UserServiceImpl">
        <property name="stringList">
            <list>
                <value>aaa</value>
                <value>bbb</value>
                <value>ccc</value>
            </list>
        </property>
        <property name="userDaoList">
            <list>
                <bean class="com.is.dao.impl.UserDaoImpl"></bean>
                <bean class="com.is.dao.impl.UserDaoImpl"></bean>
                <bean class="com.is.dao.impl.UserDaoImpl"></bean>
                <bean class="com.is.dao.impl.UserDaoImpl"></bean>
            </list>
        </property>
        <property name="stringSet">
            <set>
                <value>asd</value>
                <value>asf</value>
                <value>asg</value>
            </set>
        </property>
        <property name="userDaoSet">
            <set>
                <bean class="com.is.dao.impl.UserDaoImpl"></bean>
                <bean class="com.is.dao.impl.UserDaoImpl"></bean>
                <bean class="com.is.dao.impl.UserDaoImpl"></bean>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="1" value-ref="userDao1"></entry>
                <entry key="2" value-ref="userDao2"></entry>
                <entry key="3" value-ref="userDao3"></entry>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="1">1</prop>
                <prop key="2">2</prop>
                <prop key="3">3</prop>
            </props>
        </property>
    </bean>
    <bean id="userDao1" class="com.is.dao.impl.UserDaoImpl"></bean>
    <bean id="userDao2" class="com.is.dao.impl.UserDaoImpl"></bean>
    <bean id="userDao3" class="com.is.dao.impl.UserDaoImpl"></bean>
</beans>